/* -----------------------------------------------------------------------------
  MENU STYLES
  
----------------------------------------------------------------------------- */
@import 'variables';
@import 'mixins';

.section4{	
 	position: relative;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    margin-left: 0px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 500; 
    width: 200% !important;
    #services_container{
        .container{
             @media #{$tablet}{ 
                left: 10%;
            }
        }
        .thumb {
            opacity: 1;
            background-color: #a89f88;
            z-index: 1000;
        }
        .scrollbar_backline {
            position: absolute;
            height: 100%;
            width:2px;
            background-color: $dimgrey;
            left: 2px;
        }
      
        .scrollbar_backline {
            position: absolute;
            height: 100%;
            width:2px;
            background-color:dimgrey;
            left: 2px;
        }

        .scrollbar_container {
            position: absolute;
            height: 60vh;
            width: 90vw;
            font-family: 'OpenSans', sans-serif;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #1e252b;
            font-size: 2vh;
            @media #{$tablet}{
              height:60vh;
              width: 85%;
            }
        }

        .scrollbar_box {
            position: absolute;
            top: 0px;            
            height: 60vh;
            width: 100%;            
        }

        .up_gradient {
            position: absolute;
            top: 0px;
            background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
            height:4vh;
            z-index: 1002;
            width: 100vw;
            height: 5vh;
            display:none;
        }

        .down_gradient {
            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
            height:4vh;
            position: absolute;
            bottom: 0px;
            z-index: 1002;
            width: 100vw;
            height: 5vh;
        }

        .container{
            @media #{$tablet}{ 
                height: 40vw;
                width: 40vw;
                }
            }

        .service_content{   
            position: relative;
            @media #{$tablet}{
                padding-left: 0px;
            }
            h3{
                font-size: 2vh;
                padding-bottom: 3vh;
                text-transform: uppercase;
                font-family: $primary-font;
                font-weight: 600;
                color: $gold;
            }
            p{
                font-family: $secondary-font;
                font-weight: 300;
                position: relative;
                width: 100%;
                padding-left: 30px;
                font-size: 1.5vh;
                line-height: 2vh;
                @media #{$tablet}{ 
                    font-size: 1.5vh;
                }  
                img{
                    display: block;
                    margin: 0 auto;
                }   
            }
        }
    }
    .nav_item{
    	display: block;
    } 
    .service_img{
      	background-color: #f2f2f2;
     	background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
        height: 100vh;
        position: absolute;
        margin: 0 auto;
        top: 0;
        left: 25%;
        overflow: hidden;
        display: none;
        @media #{$tablet}{ 
	    	display: block;
	    }
    }
    &.detailservice{
      	margin-left: -100%;
    }
    .col{
      	padding-top: 10vh;
  		padding-left: 5vw; 
        @media #{$tablet}{ 
            padding-top: 20vh;
        } 
    }
    .col1{
  		position: relative;
      	width:100%;
    	@media #{$tablet}{ 
    		width: 25%;
	    }
      	.arrow_service{       
        	position: absolute;
        	top: 50vh;
			left: 80vw;
			@media #{$tablet}{ 
				top: 50vh;
				left: 40vw;	
			}
      	}
      	div:not(.arrow_service), {
      		width: 45%;
      		@media #{$tablet}{
      			width: 74%;
      		}
      	}
      	.service_nav_item{
        	display: inline-block;
        	padding-bottom: 3vh;
        	color: $darkblue;
        	transition: color 200ms;
        	font-family: $secondary-font;
        	font-weight: 300;
        	font-size: 2vh;
        	&:hover{
        		font-weight: 600;
        	}
        	@media #{$tablet}{ 
				font-size: 2vh;
				padding-bottom: 3.6vh;
        	}
      	}
    }
    .col2{
    	width: 50%;
	    position:absolute;
	    right: 0px;
	    top: 0px;
	    height: 100vh;
    	@media #{$tablet}{ 
    		width: 25%;
	    }
	    .cross_service{
        	top: 49vh;
        	left: 2vw;
        	position: absolute;
        	margin-left: 1.25vh;    
    		@media #{$tablet}{ 
    			top: 50vh;
    			margin-left: 0px;
	    	}        	   
      	}
    }
}

/* ARROW */
.arrow{
	height: 12px;
	width: 12px;
	border: 2px solid $gold;
	transform: rotate(45deg);
	border-bottom: none;
	border-left: none;
	@media #{$tablet}{ 
		height: 20px;
		width: 20px;	
		border-bottom: none;
		border-left: none;
	}
}
/* CROSS */
.cross{
    a{
        display: inline-block;
        padding-top: 10px;
        width: 20px;
        height: 20px;
        @media #{$tablet}{
            padding-top: 15px;
            width: 30px;
            height: 30px;        
        }
    }
	span{
		position: absolute;
		display: inline-block;
		width: 20px;	
		border-bottom: 2px solid $gold;	
		&:nth-child(1){
			transform: rotate(45deg);	
		}
		&:nth-child(2){
			transform: rotate(-45deg);	
		}
		@media #{$tablet}{
			width: 30px;	 
		}
	}
}