#slider_top .slider {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#slider_top .slide {
    height: 100vh;
    position: relative;
}

#slider_top .slide_content {
    display: block;
    width: 55vh;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1e252b;
    position: absolute;
    text-transform: uppercase;
    top: 45vh;
    left: 11.8%;
    font-size: 5.715vh;
}

#slider_top .subtitle {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 3.6vh;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1e252b;
    text-transform: initial;
    margin-top: 1vh;
}

#slider_top .small_line {
    display: block;
    margin-top: 10vh;
    left: 0px;
    width: 21.8vh;
    height: 0.14vw;
    background-color: #1e252b;
}

#slider_top .slick-dots {
    position: absolute;
    left: 12.1%;
    bottom: 15%;
    text-align: left;
    width: auto;
}

#slider_top .slick-dots button {
    padding: 0px;
    margin: 0px;
    position: relative;
    height: 100%;
}

#slider_top .slick-dots button::before {
    font-size: 7px;
    opacity: 1;
    margin: 0px;
    padding: 0px;
    position: absolute;
    line-height: 19px;
    width: 100%;
    height: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    #slider_top .slick-dots button::before {
        margin-left: 0px;
        margin-top: 1px;
    }
}

#slider_top li.slick-active .circle {
    display: block !important;
}

#slider_top .scroll_down_box {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    cursor: pointer;
}

#slider_top .scroll_down_box .scroll_white_box {
    display: block;
    height: 8vh;
    width: 50%;
    background-color: white;
    text-align: right;
    text-transform: uppercase;
    color: #1e252b;
    font-family: 'Lato', sans-serif;
    z-index: 1005;
    padding: 3.2vh;
    font-size: 1.5vh;
    float: left;
    letter-spacing: 0.3vh;
}

#slider_top .scroll_down_box .scroll_down_arrow {
    float: left;
    font-size: 4vh;
    padding: 1.8vh;
    color: #1e252b;
}
