// TYPO
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$browser-context: 16;

/* SIZE 
$layout: 1200px;
$height:60px;
$middleheight:$height/2;
$smallheight:$middleheight/2;
*/

/* COLOURS */
$white: #ffffff;
$softwhite: #fbfbfb;
$black: #000000;
$darkwhite: #F6F6F6;
$silver: #9B9B9B;
$grey: #999999;
$hardgrey: #666666;
$dimgrey: #444444;
$bordercolor: #D7D7D7;
$bordercolor2: #EEEEEE;
$bgcolor: #F3F3F3;
$red: #E61414;
$darkblue: #1e252b;
$gold: #a89f88;

// MEDIA
$break-small: 480px;
$break-tablet: 768px;
$break-smalldesktop:1024px;
$break-desktop: 1200px;
$break-superdesktop: 1400px;
$break-bestdesktop: 1980px;
$max-layout: 1440px;

//Mobile -  max-width:480px;
$mobile: "(max-width:"$break-small")";
//Mobile Landscape max-width:768px
$mobile-landscape: "(max-width:"$break-tablet  - 1")";
//Ipad Portrait - min-width:768px
$tablet: "(min-width:"$break-tablet")";
//Ipad Portrait - max-width:768px
$max-tablet: "(max-width:"$break-tablet")";
//Ipad Landscape - max-width:1024px and landscape
$tablet-landscape: "(max-width:"$break-smalldesktop")";
//Smalldesktop - min-width:1024px
// VC: 992PX
$smalldesktop: "(min-width:"$break-smalldesktop")";
//Smalldesktop Max - min-width:1024px
$max-smalldesktop: "(max-width:"$break-smalldesktop - 1")";
//Desktop - min-width:1200px
$desktop: "(min-width:"$break-desktop")";
//Desktop - max-width: 1200px;
$max-desktop: "(max-width:"$break-desktop - 1")";
//Superdesktop - min-width:1400px
$superdesktop: "(min-width:"$break-superdesktop")";
//Superdesktop - min-width:1900px
$bestdesktop: "(min-width:"$break-bestdesktop")";

$landscape: "(orientation: landscape)";
$portrait: "(orientation: portrait)";